{% extends 'base.html.twig' %}

{% block title %}Hello DocumentController!{% endblock %}

{% block body %}
    <h1>Uploader un fichier Excel</h1>

    {{ form_start(form) }}
        {{ form_row(form.file) }}
        <button type="submit">Envoyer</button>
    {{ form_end(form) }}

    {% for message in app.flashes('error') %}
        <p style="color: red;">{{ message }}</p>
    {% endfor %}
{% endblock %}
