 <nav aria-label="Pagination" class="mt-4">
    <ul class="pagination">
        <li class="page-item {% if currentPage == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ path(routeName, {'page': currentPage - 1}) }}">Previous</a>
        </li>
        {% for i in 1..totalPages %}
            <li class="page-item {% if i == currentPage %}active{% endif %}">
                <a class="page-link" href="{{ path(routeName, {'page': i}) }}">{{ i }}</a>
            </li>
        {% endfor %}
        <li class="page-item {% if currentPage == totalPages %}disabled{% endif %}">
            <a class="page-link" href="{{ path(routeName, {'page': currentPage + 1}) }}">Next</a>
        </li>
    </ul>
</nav>